{% if filterOptions is defined %}
    <p class="lead">
        Filter
        {% if usedFilters is defined and usedFilters is not empty %}
            {% if category is defined %}
                <a href="{{ path("category_detail", {"slug": category.slug }) }}" class="close"><span aria-hidden="true">&times;</span> zrušiť</a>
            {% else %}
                <a href="{{ path("homepage") }}" class="close"><span aria-hidden="true">&times;</span> zrušiť</a>
            {% endif %}
        {% endif %}
    </p>
    <form method="post">
        {% if usedFilters is defined and usedFilters is not empty %}
            {% for type, items in usedFilters %}
                {% for id, value in items %}
                    {% if type == 'yesno' %}
                        <input type="hidden" name="filtering[{{ id }}]" value="{{ value }}">
                    {% else %}
                        {% for val in value %}
                            <input type="hidden" name="filtering[{{ id }}][]" value="{{ val }}">
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
        <ul class="list-group">
            {% for usedQuery in usedQueries %}
                <li class="list-group-item">
                    <strong>{{ usedQuery.param.getName() }}</strong>:
                    {% if usedQuery.param.getFilterType() == 'multiselect' %}
                        {{ usedQuery.values|join(', ') }}
                    {% elseif usedQuery.param.getFilterType() == 'range' %}
                        {{ usedQuery.values|join(' - ') }}
                    {% elseif usedQuery.param.getFilterType() == 'yesno' %}
                        {% if usedQuery.values %} ano {% else %} nie {% endif %}
                    {% endif %}
                </li>
            {% endfor %}

            {% for filterOption in filterOptions %}
                <li class="list-group-item">
                    <strong>{{ filterOption.name }}</strong><br>
                    {% if filterOption.type == 'multiselect' %}
                        {% for option in filterOption.options %}
                            <div class="checkbox">
                                <label>
                                    <input name="filtering[{{ filterOption.id }}][]" type="checkbox" value="{{ option.value }}">
                                    {{ option.value }} ({{ option.count }})
                                </label>
                            </div>
                        {% endfor %}
                    {% elseif filterOption.type == 'range' %}
                        <div class="input-group">
                            <input type="number" name="filtering[{{ filterOption.id }}][]" class="form-control" placeholder="{{ filterOption.range.from }}">
                            <div class="input-group-addon">-</div>
                            <input type="number" name="filtering[{{ filterOption.id }}][]" class="form-control" placeholder="{{ filterOption.range.to }}">
                        </div>
                    {% elseif filterOption.type == 'yesno' %}
                        {% for option in filterOption.options %}
                            <div class="radio">
                                <label>
                                    <input type="radio" name="filtering[{{ filterOption.id }}]" value="{{ option.value }}" >
                                    {% if option.value %} ano {% else %} nie {% endif %} ({{ option.count }})
                                </label>
                            </div>
                        {% endfor %}
                    {% endif %}
                </li>
            {% endfor %}
            <li class="list-group-item">
                <button type="submit" class="btn btn-default btn-block">Filtrovať</button>
            </li>
        </ul>
    </form>
{% endif %}